<!-- <div class="navbar navbar-default mobileshow" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <a class="" href="#"><img src="assets/img/header/main.png"></a>
      </button>
      <a class="navbar-brand" href="#"><img src="assets/img/header/main.png"></a>
      <h4>連儂牆香港</h4>
      <p>
        請支持香港民主
      </p>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">

        <li class="active">
          <a href="#">看連儂牆</a>
        </li>
        <li>
          <a href="#">連連儂牆</a>
        </li>
        <li>
          <a href="#">目的</a>
        </li>
        <li>
          <a href="#">工作單位</a>
        </li>
        <li>
          <div class="btn-group">
            <button type="button" class="btn btn-tranparent dropdown-toggle" data-toggle="dropdown">
              Hong Kong (中文)
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="#">Hong Kong (中文)</a>
              </li>
              <li>
                <a href="#">Hong Kong (English)</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>

    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</div> -->
